@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-select-selection-item {
  font-weight: 100 !important;
  font-size: smaller !important;
}

.ant-select-item-option-content {
  font-weight: 100 !important;
  font-size: smaller !important;
}

html,
body {
  font-family: "Mali", sans-serif;
}


.ant-popover .ant-popover-inner{
  background-color: rgba(255, 255, 255, 0.7) !important;
  backdrop-filter:  blur(3px);
}